.App {
  text-align: center;
}

.App-logo {
  animation: startlogo  2s ;
  width: 100px;
  margin-bottom: 20px;
  transition: .4s;
}
@keyframes startlogo {
  from { position: absolute; }
  to { position: relative; }
}
.App-logo:hover{
  transform: scale(1.2);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.UsersList{
  transition: .4s;
  animation: show .6s linear;
  animation-delay:attr(data-delay)s;
}
.userItem{
  transition: .4s;
  animation: show .6s linear;
  animation-delay:attr(data-delay)s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.userItem:hover{
  font-size: 14px;
}
.userItem:hover>a{
  color:#000;
  text-decoration: none;
}